html {
  /* height: 100%; */
}

body {
  display: flex;
  flex-direction: column;
  height: inherit;
  flex-wrap: wrap;
  font-family: Poppins, sans-serif;
}

#hero {
  display: block;
  flex-basis: 90vh;

  /* background: linear-gradient(#a44a3f, #17183b); */
  /* background: #17183b; */
  color: #f9f7f0;
  background-image: url("images/marek-piwnicki-MSoJwmGW5_o-unsplash.jpg");
  background-size: cover;

  /* border-width: 0 0 5px 0;
  border-style: solid;
  border-color: #381008; */
  /* padding-top: 15%;
  padding-bottom: 20%; */
}

#hero-text {
  margin-top: 30vh;
  text-align: center;
}

#title {
  font-size: max(6vh, 40px);
  font-family: Chakra Petch, sans-serif;
  color: #a44a3f;
}

#subtitle {
  font-size: max(3vh, 20px);
  font-family: Poppins, sans-serif;
}

#navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-basis: 10vh;
}

.nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #17183b;
  color: #f9f7f0;
  flex-grow: 1;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
}

.nav-button:hover {
  background: #292a4d;
}

#contact-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 75px;

  background: #17183b;
  color: #f9f7f0;
}

.contact-link {
  color: inherit;
}

.main-section {
  background: #f9f7f0;
  color: #17183b;

  display: flex;
  justify-content: center;
}

.section-text {
  margin: 10px;
  padding-top: 40px;
  max-width: 500px;
}

.section-heading {
  color: #a44a3f;
}

#portrait-img {
  width: 400;
  height: 400;
  margin: 10px;
}

.debug-outline {
  border: 1px dotted blue;
}
