html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: inherit;

  font-family: Poppins, sans-serif;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  /* background: linear-gradient(#a44a3f, #17183b); */
  /* background: #17183b; */
  color: #17183b;
  background: #ede5d5;

  border: 5px solid #381008;
}

#title {
  font-size: 50px;
  font-family: Chakra Petch, sans-serif;
  color: #a44a3f;
}

#contact-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 75px;

  background: #17183b;
  color: #f9f7f0;
}

.contact-link {
  color: inherit;
}

.main-section {
  background: #a44a3f;
  color: #f9f7f0;

  display: flex;
  justify-content: center;
}

.section-text {
  margin: 10px;
  padding-top: 40px;
  max-width: 500px;
}

.section-heading {
  color: #ede5d5;
}

#portrait-img {
  width: 400;
  height: 400;
  margin: 10px;
}

.debug-outline {
  border: 1px dotted blue;
}
